doctype 5
html
  head
    title= title
    meta(http-equiv='Content-Type',content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='/css/main.css')    
    block headcontent
  body
    block content
    block jscontent